body {
  margin: 0;
  background-image: url("background-maze.png"); 
  font-family: system-ui, sans-serif;
  overflow: hidden;
} 

.textbox {
  position: absolute;
  border-radius: 5px;
  background:rgb(255, 255, 255);
} 

.textbox p {
  font-size: 32px;
  color: black;
  align-self: center;
  padding-left: 20px;
  padding-right:20px;
  line-height: 40px;
  font-style: inherit;
}

#game {
  position: relative;
  width: 100vw;
  height: 100vh;
}

.wall {
  position: absolute;
  background: #5b3a1d;
  border-radius: 8px;
}

#robot {
  position: absolute;
  width: 40px;
  height: 40px;
  background: #ffffff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  pointer-events: none;
  z-index: 5;
}

#treasure {
  position: absolute;
  width: 60px;
  height: 60px;
  background: rgb(255, 255, 255);
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  left: 500px;
  top: 200px;
  transform: none;
  z-index: 3;
}

#coords {
  position: fixed;
  bottom: 10px;
  left: 10px;
  background: rgba(0,0,0,0.7);
  color: white;
  padding: 10px 14px;
  border-radius: 10px;
  font-size: 32px;
  z-index: 10;
}

#winScreen {
  position: absolute;
  inset: 0;
  background: rgba(0,0,0,0.6);
  color: white;
  display: none;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 20;
}

#winScreen button {
  margin-top: 16px;
  padding: 10px 18px;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}
